body {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	overflow-x:hidden;
}
/*.foo{
	background-color: #7f8c8d;

}*/
#errorMessage{
	font-size: 2em;
	color: red;
}
.hangH1{
	font-family: courier;
}

.allHang{
	border: 1px solid black;
	padding-bottom: 20px;
	margin-bottom: 100px;
}
.winLose{
	margin-bottom: -20px;
}
.center{
	text-align: center;
}
.imgCap{
	margin: 20px 0px 10px 0px;
	text-align: center;
	font-size: 1.5em;
}
.prjDesc{
	font-size: 1.2em;
	text-align: left;
	margin-top: 10px;
}

article{
	text-align: center;
	font-size: 25px;
	color: black;
	font-family: sans-serif;
}
.bump{
	height: 80px;
}
.contactPage{
	text-align: center;
		font-size: 2em;
}
/*.theImage{
	background-color: blue;
}
.theBubble{
	background-color: red;
}
.thePartial{
	background-color: yellow !important;
}*/
.resume{
	text-align: center;
}
#resume{
	max-width: 900px;
	width: 100%;
	border: 1px solid black;
	/* -ms-transform: rotate(-5deg); /* IE 9 */
    /*-webkit-transform: rotate(-5deg);  Chrome, Safari, Opera
    transform: rotate(-5deg);*/
}
.topbar{
	text-align: right;
}
#downloadResume{
	margin: 70px;
}
.theTitle{
	/*background-color: green;*/
	font-size: 3em;
	font-family: courier;
	text-align: center;
	margin-top: 50px;
}
/* This is the SPEECH BUBBLE!!! square part. Code adapted from... http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */
h1{
	font-size:30px;
	padding:5px 5px 0px 5px;
	margin:5px 5px 0px 5px;
	font-weight: bold;
}
h6{
	padding:0px;
	margin:0px;
	font-size: 15px;
}

.triangle-border {
	float: right;
	width: 400px;
	display: inline;
	position:relative;
	/*left: 60%; */
	padding:15px 15px 30px 15px;
	margin:1em 0 1em;
	margin-right: 10px;
	border:3px solid black;
	color:#333;
	background:#fff;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
}

/*This is the triangle on the left of the bubble */
/*.triangle-border.left {
	margin-left:30px;
}*/

.triangle-border:before {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-right-radius: width */
	/*left:40px;  controls horizontal position */
/*	border-width: 10px 20px 1px;*/
	border-style:solid;
	border-color:black;
/* reduce the damage in FF3.0 */
	display:block;
	width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
	content:"";
	position:absolute;
	bottom:-13px; /* value = - border-top-width - border-bottom-width */
	left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
/*	border-width:13px 13px 0;*/
	border-style:solid;
	border-color:#fff transparent;
/* reduce the damage in FF3.0 */
	display:block;
	width:0;
}

/* creates the larger triangle */
.triangle-border.left:before {
	top:10px; /* controls vertical position */
	bottom:auto;
	left:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 30px 15px 0;
	/*border-width:15px 30px 15px 0;*/
	border-color: transparent black;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
	top:13px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
	left:-25px;
	/*left:-21px;*/ /* value = - border-left-width - border-right-width */
	border-width:12px 26px 12px 0;
		/*border-width:9px 21px 9px 0;*/
	border-color:transparent #fff;
}

/*FOR MEDIUM*/
@media (max-width: 991px) {
	.buildsChar{
		margin-top: -250px;
	}
}
@media (max-width: 768px) {
	.buildsChar{
		margin-top: 0px;
	}
}

/*MOBILE VERSION!!! */
/*Mobile version. Needs lots of work, but this is a start. */
@media (max-width: 620px) {
  body{
    text-align: center;
  }
  .allHang{
  	text-align: left;
  }
	article{
		font-size: 17px !important;
	}
	/*this makes the bubble show up all the time cause no hover on phone.*/
	.showbubble{
		display: inline;
	}
	.triangle-border {
		float: right;
		width: 300px;
		display: inline;
			position:relative;
			/*left: 60%; */
			padding:15px 12px 30px 12px;
			margin:1em 0 1em;
			margin-right: 10px;
			border:3px solid black;
			color:#333;
			background:#fff;
			-webkit-border-radius:20px;
			-moz-border-radius:20px;
			border-radius:20px;
			font-size: 12px;
	}
/*	#resume{
		display: none;
	}*/
	.prjDesc{
		text-align: left !important;
	}
}

@media (max-width: 520px) {
  body{
    text-align: center;
  }
  .allHang{
  	text-align: left;
  }
	article{
		font-size: 17px !important;
	}
	.theTitle{
		margin-top: 0px;
		width: 100%;
	}
	/*this makes the bubble show up all the time cause no hover on phone.*/
	.showbubble{ 
		display: inline;
	}
	.triangle-border {
		float: right;
		width: 160px;
		display: inline;
			position:relative;
			/*left: 60%; */
			padding:15px 12px 30px 12px;
			margin:1em 0 1em;
			margin-right: 10px;
			border:3px solid black;
			color:#333;
			background:#fff;
			-webkit-border-radius:20px;
			-moz-border-radius:20px;
			border-radius:20px;
			font-size: 12px;
	}
	.prjDesc{
		text-align: left !important;
	}

}